<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Angular-errorlookup by pocesar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">Angular-errorlookup</h1>
      <h2 class="project-tagline">Because AngularJS general error messages still suck. ngMessages can kiss my ass.</h2>
      <a href="https://github.com/pocesar/angular-errorlookup" class="btn">View on GitHub</a>
      <a href="https://github.com/pocesar/angular-errorlookup/zipball/master" class="btn">Download .zip</a>
      <a href="https://github.com/pocesar/angular-errorlookup/tarball/master" class="btn">Download .tar.gz</a>
    </section>

    <section class="main-content">
      <p><a href="https://travis-ci.org/pocesar/angular-errorlookup?branch=master"><img src="https://travis-ci.org/pocesar/angular-errorlookup.svg?branch=master" alt="Build Status"></a></p>

<h1>
<a id="angularjs-errorlookup" class="anchor" href="#angularjs-errorlookup" aria-hidden="true"><span class="octicon octicon-link"></span></a>AngularJS ErrorLookup</h1>

<p>Because AngularJS general error messages still suck. ngMessages can kiss my ass.</p>

<p>TL;DR <a href="http://pocesar.github.io/angular-errorlookup">http://pocesar.github.io/angular-errorlookup</a></p>

<p>Made for Angular 1.4+, made in sexy Typescript</p>

<h2>
<a id="motivation" class="anchor" href="#motivation" aria-hidden="true"><span class="octicon octicon-link"></span></a>Motivation</h2>

<p>How is it better than <code>ngMessage</code> / <code>ngMessages</code>? Or plain old <code>ng-switch-when</code> / <code>ng-if</code> directive and a bunch of divs?</p>

<p>Because you need to write the same boring HTML markup over and over, and you need to cluttering your scope and
controllers with useless state error messages. Plus, you are usually stuck with <code>modelController.$error</code> /
<code>myForm.myModel.$error.required</code> / <code>myForm.$error.required[0].$error</code> (srsly wtf) boolean states.</p>

<p>It's nearly impossible to <code>$setValidity</code> without a helper directive that has access to some sort of global state,
since the ngModel controllers and form controllers are only available inside directives that require them or tied
to a controller / scope. It's even worse, when you have to return validation from the server after a socket/ajax
call and show it in your form / models, or after async validation.</p>

<p>So, are you tired of no way of assigning errors dynamically, bypassing them when necessary? Does your scope variables
look like a mess with state errors? How about show a simple plain string on a form or console without assigning it
to a scope/controller variable?</p>

<p>Take this <em>superb</em> code for example:</p>

<div class="highlight highlight-html"><pre>&lt;<span class="pl-ent">form</span> <span class="pl-e">name</span>=<span class="pl-s"><span class="pl-pds">"</span>userForm<span class="pl-pds">"</span></span>&gt;
  &lt;<span class="pl-ent">div</span> <span class="pl-e">class</span>=<span class="pl-s"><span class="pl-pds">"</span>field<span class="pl-pds">"</span></span>&gt;
    &lt;<span class="pl-ent">label</span> <span class="pl-e">for</span>=<span class="pl-s"><span class="pl-pds">"</span>emailAddress<span class="pl-pds">"</span></span>&gt;Enter your email address:&lt;/<span class="pl-ent">label</span>&gt;

    &lt;<span class="pl-ent">input</span> <span class="pl-e">type</span>=<span class="pl-s"><span class="pl-pds">"</span>email<span class="pl-pds">"</span></span>
           <span class="pl-e">name</span>=<span class="pl-s"><span class="pl-pds">"</span>emailAddress<span class="pl-pds">"</span></span>
           <span class="pl-e">ng-model</span>=<span class="pl-s"><span class="pl-pds">"</span>data.email<span class="pl-pds">"</span></span>
           <span class="pl-e">ng-minlength</span>=<span class="pl-s"><span class="pl-pds">"</span>5<span class="pl-pds">"</span></span>
           <span class="pl-e">ng-maxlength</span>=<span class="pl-s"><span class="pl-pds">"</span>30<span class="pl-pds">"</span></span>
           <span class="pl-e">required</span> /&gt;

    &lt;<span class="pl-ent">div</span> <span class="pl-e">ng-messages</span>=<span class="pl-s"><span class="pl-pds">"</span>userForm.emailAddress.$error<span class="pl-pds">"</span></span>&gt;
      &lt;<span class="pl-ent">div</span> <span class="pl-e">ng-message</span>=<span class="pl-s"><span class="pl-pds">"</span>required<span class="pl-pds">"</span></span>&gt;You left the field blank...&lt;/<span class="pl-ent">div</span>&gt;
      &lt;<span class="pl-ent">div</span> <span class="pl-e">ng-message</span>=<span class="pl-s"><span class="pl-pds">"</span>minlength<span class="pl-pds">"</span></span>&gt;Your field is too short&lt;/<span class="pl-ent">div</span>&gt;
      &lt;<span class="pl-ent">div</span> <span class="pl-e">ng-message</span>=<span class="pl-s"><span class="pl-pds">"</span>maxlength<span class="pl-pds">"</span></span>&gt;Your field is too long&lt;/<span class="pl-ent">div</span>&gt;
      &lt;<span class="pl-ent">div</span> <span class="pl-e">ng-message</span>=<span class="pl-s"><span class="pl-pds">"</span>email<span class="pl-pds">"</span></span>&gt;Your field has an invalid email address&lt;/<span class="pl-ent">div</span>&gt;
    &lt;/<span class="pl-ent">div</span>&gt;
  &lt;/<span class="pl-ent">div</span>&gt;
&lt;/<span class="pl-ent">form</span>&gt;</pre></div>

<p>Now multiply that for 20 fields! Awesome right?</p>

<p><img src="https://i.imgur.com/9utgk.gif" alt="NO NO NO NO! HELL NO!"></p>

<p>This doesn't tie you with a controller or directives, and it doesn't aim to provide you a validation
interface. (Use <a href="https://github.com/pocesar/angular-async-validator">angular-async-validator</a> for that)</p>

<p><strong>This module aims to provide a D.R.Y. service for your errors, watching your models for ERRORS only</strong></p>

<p>It's an application-wide error messages service with helper directives for the heavy lifting! ngMessages
doesn't offer you a way to programatically set errors (unless you create a directive that requires ngModel
and ngMessages, and you do the bridge, aka, hot mess).</p>

<p>You can use ErrorLookup in your DOM in a declarative manner, in your controller(s), in your directive(s),
in  services (biggest win!), it keeps all your error messages under complete control (along with access
to the bound element, scope and attributes), and you can have them using translations as well.</p>

<p>Best of all: interpolation and callbacks! Make your errors beautiful and meaningful with magic. No more
useless boring generic messages like "Please fill this field" for every 350 fields in your forms and
copy pasting divs all over the place or making a damn directive that adds them after each of your
inputs, and the need to use <code>$compile</code>, and all of the haX, like appending divs to DOM without you
wanting it to.</p>

<h2>
<a id="usage" class="anchor" href="#usage" aria-hidden="true"><span class="octicon octicon-link"></span></a>Usage</h2>

<h3>
<a id="provider-and-service" class="anchor" href="#provider-and-service" aria-hidden="true"><span class="octicon octicon-link"></span></a>Provider and Service</h3>

<p>The <code>ErrorLookup</code> provider and service is that holds all messages and instances, models and attributes from your elements so it can be the ultimate overlord of your errors (and messages, but mostly errors, since it checks the <code>$error</code> member of the <code>ngModelController</code> and <code>FormController</code>).</p>

<div class="highlight highlight-js"><pre>angular
.module(<span class="pl-s"><span class="pl-pds">'</span>YourApp<span class="pl-pds">'</span></span>, [<span class="pl-s"><span class="pl-pds">'</span>ngErrorLookup<span class="pl-pds">'</span></span>])
.config([<span class="pl-s"><span class="pl-pds">'</span>ErrorLookupProvider<span class="pl-pds">'</span></span>, <span class="pl-k">function</span>(<span class="pl-smi">ErrorLookupProvider</span>){

  <span class="pl-c">// ErrorLookupProvider allows you to remove/add/overwrite your messages before your controllers load</span>
  ErrorLookupProvider.<span class="pl-c1">add</span>(<span class="pl-s"><span class="pl-pds">'</span>creditcard<span class="pl-pds">'</span></span>, <span class="pl-s"><span class="pl-pds">'</span>The provided credit card isn<span class="pl-cce">\'</span>t valid<span class="pl-pds">'</span></span>);

  ErrorLookupProvider.<span class="pl-c1">add</span>(<span class="pl-s"><span class="pl-pds">'</span>cvv<span class="pl-pds">'</span></span>, <span class="pl-s"><span class="pl-pds">'</span>The CVV {{ model.$viewValue }} isn<span class="pl-cce">\'</span>t valid for {{ scope.cardType }}<span class="pl-pds">'</span></span>);

  ErrorLookupProvider.<span class="pl-c1">add</span>(<span class="pl-s"><span class="pl-pds">'</span>repeated<span class="pl-pds">'</span></span>, <span class="pl-s"><span class="pl-pds">'</span>The value {{ value }} doesn<span class="pl-cce">\'</span>t match {{ models.fucker.model.$viewValue }}<span class="pl-pds">'</span></span>);

}])
.controller(<span class="pl-s"><span class="pl-pds">'</span>MainCtrl<span class="pl-pds">'</span></span>,
  [<span class="pl-s"><span class="pl-pds">'</span>$scope<span class="pl-pds">'</span></span>, <span class="pl-s"><span class="pl-pds">'</span>ErrorLookup<span class="pl-pds">'</span></span>,
  <span class="pl-k">function</span>(<span class="pl-smi">$scope</span>, <span class="pl-smi">ErrorLookup</span>){

    <span class="pl-c">// ErrorLookup is the full blown service</span>
    ErrorLookup.messages.types.email({value<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>name<span class="pl-pds">'</span></span>}); <span class="pl-c">// name is not a valid email</span>

    <span class="pl-c">// Everything in types are a function from "$interpolate"</span>
    <span class="pl-c">// You can overwrite them by using:</span>
    ErrorLookup.messages.<span class="pl-c1">add</span>(<span class="pl-s"><span class="pl-pds">'</span>email<span class="pl-pds">'</span></span>, <span class="pl-s"><span class="pl-pds">'</span>O email "{{value}}" não é válido<span class="pl-pds">'</span></span>);
    ErrorLookup.messages.types.email({value<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>name<span class="pl-pds">'</span></span>}); <span class="pl-c">// O email "name" não é válido</span>
  }
]);</pre></div>

<p>Easily retrieve localized messages from the server:</p>

<div class="highlight highlight-js"><pre>angular
.module(<span class="pl-s"><span class="pl-pds">'</span>YourApp<span class="pl-pds">'</span></span>, [<span class="pl-s"><span class="pl-pds">'</span>ngErrorLookup<span class="pl-pds">'</span></span>])
<span class="pl-c">// just use the helper FFS</span>
<span class="pl-c">// assuming your json structure is:</span>

<span class="pl-c">/*</span>
<span class="pl-c">  {</span>
<span class="pl-c">     "required": "Você precisa preencher este campo",</span>
<span class="pl-c">     "email": "O email \"{{ value }}\" é inválido",</span>
<span class="pl-c">     "blacklist": "O &lt;strong&gt;email&lt;/strong&gt; não é permitido"</span>
<span class="pl-c">  }</span>
<span class="pl-c"> */</span>
.run([<span class="pl-s"><span class="pl-pds">'</span>ErrorLookup<span class="pl-pds">'</span></span>, <span class="pl-k">function</span>(<span class="pl-smi">ErrorLookup</span>){
  <span class="pl-c">// Load ALL the messages</span>
  ErrorLookup.messages.include(<span class="pl-s"><span class="pl-pds">'</span>/error-messages.json<span class="pl-pds">'</span></span>).then(<span class="pl-k">function</span>(<span class="pl-smi">messages</span>){
    <span class="pl-c">// changing messages change them internally before applying it</span>
    <span class="pl-k">delete</span> messages[<span class="pl-s"><span class="pl-pds">'</span>required<span class="pl-pds">'</span></span>];
  });
}]);</pre></div>

<p>But that's only for adding and manually setting error messages, which isn't much different from
adding stuff to your controllers. We want moar.</p>

<p>There are a couple of locals you can use in your string messages:</p>

<h5>
<a id="-label-" class="anchor" href="#-label-" aria-hidden="true"><span class="octicon octicon-link"></span></a><code>{{ $label }}</code>
</h5>

<p>Pretty name of the model, instead of displaying "login.data.user.email" to the user, display
 something like "Your email". On the directive, it's the value of <code>error-lookup-label</code></p>

<h5>
<a id="-model-" class="anchor" href="#-model-" aria-hidden="true"><span class="octicon octicon-link"></span></a><code>{{ $model }}</code>
</h5>

<p>The ngModel itself with all the bells and whistles, unchanged. On the directive, it's the
value of <code>ng-model</code></p>

<h5>
<a id="-attrs-" class="anchor" href="#-attrs-" aria-hidden="true"><span class="octicon octicon-link"></span></a><code>{{ $attrs }}</code>
</h5>

<p>The $attrs from the current element with all the bells and whistles, unchanged
You can even add CSS classes to the element through here, omg messy spaghetti!</p>

<h5>
<a id="-value-" class="anchor" href="#-value-" aria-hidden="true"><span class="octicon octicon-link"></span></a><code>{{ $value }}</code>
</h5>

<p>Alias for the current model $viewValue</p>

<h5>
<a id="-scope-" class="anchor" href="#-scope-" aria-hidden="true"><span class="octicon octicon-link"></span></a><code>{{ $scope }}</code>
</h5>

<p>The assigned scope. You may access your controller doing <code>$scope.yourcontroller</code> in here as well.</p>

<h5>
<a id="-models-" class="anchor" href="#-models-" aria-hidden="true"><span class="octicon octicon-link"></span></a><code>{{ $models }}</code>
</h5>

<p>ALL the models in the current group! Means you can reference other <code>ngModels</code>, how cool is that?</p>

<p>Since it uses interpolation, you always need to run the curryed function returned
from the <code>ErrorLookup.error()</code>, since it has no watches and doesn't use <code>$compile</code> (that
watch over expressions automatically):</p>

<div class="highlight highlight-js"><pre>angular
.module(<span class="pl-s"><span class="pl-pds">'</span>YourApp<span class="pl-pds">'</span></span>, [<span class="pl-s"><span class="pl-pds">'</span>ngErrorLookup<span class="pl-pds">'</span></span>])
.controller(<span class="pl-s"><span class="pl-pds">'</span>MainCtrl<span class="pl-pds">'</span></span>,
  [<span class="pl-s"><span class="pl-pds">'</span>$scope<span class="pl-pds">'</span></span>, <span class="pl-s"><span class="pl-pds">'</span>ErrorLookup<span class="pl-pds">'</span></span>,
  <span class="pl-k">function</span>(<span class="pl-smi">$scope</span>, <span class="pl-smi">ErrorLookup</span>) {

    $scope<span class="pl-c1">.error</span> <span class="pl-k">=</span> ErrorLookup<span class="pl-c1">.error</span>(<span class="pl-s"><span class="pl-pds">'</span>MainCtrl<span class="pl-pds">'</span></span>, <span class="pl-s"><span class="pl-pds">'</span>user.email<span class="pl-pds">'</span></span>);
    <span class="pl-c">// this function changes the internal error array of the current model everytime it's called, plus it returns</span>
    <span class="pl-c">// the current error collection! (that is, an array of objects) So it's a setter AND a getter</span>
    <span class="pl-c">// &lt;div ng-repeat="error in error() track by error.message"&gt;&lt;/div&gt;</span>

    <span class="pl-c">// Get ALL the errors in a group and assign them to the scope</span>
    $scope.errors <span class="pl-k">=</span> ErrorLookup.errors(<span class="pl-s"><span class="pl-pds">'</span>MainCtrl<span class="pl-pds">'</span></span>);
    <span class="pl-c">// $scope.errors.user</span>
    <span class="pl-c">// $scope.errors.password</span>
    <span class="pl-c">// $scope.errors.repeat</span>
    <span class="pl-c">// $scope.errors.fullname</span>
    <span class="pl-c">// $scope.errors.email</span>
    <span class="pl-c">// &lt;div ng-repeat="error in errors.user() track by error.message"&gt;&lt;/div&gt;</span>

    <span class="pl-c">// plucking just a few members</span>
    $scope.errors <span class="pl-k">=</span> ErrorLookup.errors(<span class="pl-s"><span class="pl-pds">'</span>MainCtrl<span class="pl-pds">'</span></span>, [<span class="pl-s"><span class="pl-pds">'</span>user<span class="pl-pds">'</span></span>,<span class="pl-s"><span class="pl-pds">'</span>password<span class="pl-pds">'</span></span>]);
    <span class="pl-c">// $scope.errors.user()</span>
    <span class="pl-c">// $scope.errors.password()</span>

    <span class="pl-c">// or the controller-bound preferred way</span>
    <span class="pl-v">this</span><span class="pl-c1">.error</span> <span class="pl-k">=</span> ErrorLookup<span class="pl-c1">.error</span>(<span class="pl-s"><span class="pl-pds">'</span>group<span class="pl-pds">'</span></span>, <span class="pl-s"><span class="pl-pds">'</span>full.qualified.modelname.as.written.in.ng-model<span class="pl-pds">'</span></span>);
  }
]);</pre></div>

<p><code>ErrorLookup.error(group, modelIdentifier, predefine)</code> return a function that has the following signature <code>function(extra)</code>.
Effectively, you can trigger new errors without the error being present on the model, like when you return validation from the server, without using <code>model.$setValidity</code>.</p>

<div class="highlight highlight-js"><pre>$http.post(<span class="pl-s"><span class="pl-pds">'</span>/isValid<span class="pl-pds">'</span></span>, {type<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>email<span class="pl-pds">'</span></span>, email<span class="pl-k">:</span> $scope.email}).success(<span class="pl-k">function</span>(<span class="pl-smi">errors</span>){
  <span class="pl-k">if</span> (errors <span class="pl-k">!==</span> <span class="pl-c1">false</span>) {
    $scope<span class="pl-c1">.error</span>(errors); <span class="pl-c">// assuming errors = {'blacklist': true, 'required': true}</span>
    <span class="pl-c">// will look for default blacklist and required messages</span>

    <span class="pl-c">// if you assign an string, it will be shown instead of the predefined messages</span>
    $scope<span class="pl-c1">.error</span>({
      <span class="pl-s"><span class="pl-pds">'</span>blacklist<span class="pl-pds">'</span></span><span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>You failed to enter your email, {{ $value }} even make sense to you? You dirty spammer<span class="pl-pds">'</span></span>
    }); <span class="pl-c">// $interpolates this on the fly, not healthy for performance, beware</span>
  }
});</pre></div>

<p>But wait! You don't need to add an string that will be interpolated, you can use a function! ...Here be dragons...</p>

<div class="highlight highlight-js"><pre>ErrorLookup.messages.<span class="pl-c1">add</span>(<span class="pl-s"><span class="pl-pds">'</span>dynamic<span class="pl-pds">'</span></span>, <span class="pl-k">function</span>(<span class="pl-smi">model</span>){
  <span class="pl-c">// model is the programmatically equivalent of the scope variables in your interpolated string above</span>
  <span class="pl-c">// "this" context is the internal "model"</span>
  <span class="pl-k">var</span> error, errors <span class="pl-k">=</span> <span class="pl-v">this</span>.errors();
  <span class="pl-k">for</span>(<span class="pl-k">var</span> i <span class="pl-k">=</span> <span class="pl-c1">0</span>; i <span class="pl-k">&lt;</span> errors.<span class="pl-c1">length</span>; i<span class="pl-k">++</span>) {
    error <span class="pl-k">=</span> errors[i];
    <span class="pl-k">if</span> (error.<span class="pl-c1">type</span> <span class="pl-k">===</span> <span class="pl-s"><span class="pl-pds">'</span>required<span class="pl-pds">'</span></span>) {
      <span class="pl-k">switch</span> (<span class="pl-v">this</span>.<span class="pl-c1">name</span>){
        <span class="pl-k">case</span> <span class="pl-s"><span class="pl-pds">'</span>model1<span class="pl-pds">'</span></span><span class="pl-k">:</span>
          <span class="pl-k">return</span> <span class="pl-s"><span class="pl-pds">'</span>reqqqq<span class="pl-pds">'</span></span>;
        <span class="pl-k">case</span> <span class="pl-s"><span class="pl-pds">'</span>model2<span class="pl-pds">'</span></span><span class="pl-k">:</span>
          <span class="pl-k">return</span> <span class="pl-s"><span class="pl-pds">'</span>reqirueiruei<span class="pl-pds">'</span></span>;
      }
    } <span class="pl-k">else</span> <span class="pl-k">if</span> (error.<span class="pl-c1">type</span> <span class="pl-k">===</span> <span class="pl-s"><span class="pl-pds">'</span>email<span class="pl-pds">'</span></span>) {
      <span class="pl-k">switch</span> (<span class="pl-v">this</span>.<span class="pl-c1">name</span>){
        <span class="pl-k">case</span> <span class="pl-s"><span class="pl-pds">'</span>model1<span class="pl-pds">'</span></span><span class="pl-k">:</span>
          <span class="pl-k">return</span> <span class="pl-s"><span class="pl-pds">'</span>Dubudbudubu<span class="pl-pds">'</span></span>;
        <span class="pl-k">case</span> <span class="pl-s"><span class="pl-pds">'</span>model2<span class="pl-pds">'</span></span><span class="pl-k">:</span>
          <span class="pl-k">return</span> <span class="pl-s"><span class="pl-pds">'</span>Wooobblebblle<span class="pl-pds">'</span></span>;
      }
    }
  }
  <span class="pl-c">// You must return an string here. Interpolate if you want, ErrorLookup don't care</span>
  <span class="pl-k">return</span> <span class="pl-s"><span class="pl-pds">'</span>You failed<span class="pl-pds">'</span></span>;
});</pre></div>

<p>So let the clusterfuck ensue! Break ALL the conventions! Access ALL the models! Pass ALL elements to callbacks! Wreck ALL the declarative behavior!</p>

<h2>
<a id="api" class="anchor" href="#api" aria-hidden="true"><span class="octicon octicon-link"></span></a>API</h2>

<h3>
<a id="provider" class="anchor" href="#provider" aria-hidden="true"><span class="octicon octicon-link"></span></a>Provider</h3>

<h5>
<a id="errorlookupprovideraddname-string-expr-stringfunction-trustedcontextstring" class="anchor" href="#errorlookupprovideraddname-string-expr-stringfunction-trustedcontextstring" aria-hidden="true"><span class="octicon octicon-link"></span></a><code>ErrorLookupProvider.add(name: String, expr: String|Function, trustedContext:String)</code>
</h5>

<p>Queue a message to be lazy initialized when the ErrorLookup service is instantiated for the first time.</p>

<div class="highlight highlight-js"><pre>ErrorLookupProvider.<span class="pl-c1">add</span>(<span class="pl-s"><span class="pl-pds">'</span>required<span class="pl-pds">'</span></span>,<span class="pl-s"><span class="pl-pds">'</span>&lt;strong&gt;{{ label }}&lt;/strong&gt; is awesome, you gotta fill it<span class="pl-pds">'</span></span>, <span class="pl-s"><span class="pl-pds">'</span>html<span class="pl-pds">'</span></span>);
ErrorLookupProvider.<span class="pl-c1">add</span>(<span class="pl-s"><span class="pl-pds">'</span>hallelujah<span class="pl-pds">'</span></span>,<span class="pl-s"><span class="pl-pds">'</span>praise almighty code<span class="pl-pds">'</span></span>);</pre></div>

<h5>
<a id="errorlookupproviderremovename-string" class="anchor" href="#errorlookupproviderremovename-string" aria-hidden="true"><span class="octicon octicon-link"></span></a><code>ErrorLookupProvider.remove(name: String)</code>
</h5>

<p>Remove a message from the queue.</p>

<div class="highlight highlight-js"><pre>ErrorLookupProvider.remove(<span class="pl-s"><span class="pl-pds">'</span>required<span class="pl-pds">'</span></span>);</pre></div>

<h3>
<a id="service" class="anchor" href="#service" aria-hidden="true"><span class="octicon octicon-link"></span></a>Service</h3>

<h5>
<a id="errorlookuperrorgroup-string-name-string-predefine-object" class="anchor" href="#errorlookuperrorgroup-string-name-string-predefine-object" aria-hidden="true"><span class="octicon octicon-link"></span></a><code>ErrorLookup.error(group: String, name: String, predefine: Object)</code>
</h5>

<p>Returns a function so you can control the error for that field. Executing the returning function
returns an array with the errors (or an empty array if none). The errors are kept internally between
calls per model.</p>

<div class="highlight highlight-js"><pre><span class="pl-c">// fn is Function(Extra: Object|Boolean): Array</span>
<span class="pl-k">var</span> fn <span class="pl-k">=</span> ErrorLookup<span class="pl-c1">.error</span>(<span class="pl-s"><span class="pl-pds">'</span>group<span class="pl-pds">'</span></span>,<span class="pl-s"><span class="pl-pds">'</span>user<span class="pl-pds">'</span></span>);
fn({<span class="pl-s"><span class="pl-pds">'</span>required<span class="pl-pds">'</span></span><span class="pl-k">:</span><span class="pl-c1">true</span>});
<span class="pl-c">/* returns */</span>
[
  {
    type<span class="pl-k">:</span><span class="pl-s"><span class="pl-pds">'</span>required<span class="pl-pds">'</span></span>,
    message<span class="pl-k">:</span><span class="pl-s"><span class="pl-pds">'</span>You must fill user<span class="pl-pds">'</span></span>,
    label<span class="pl-k">:</span><span class="pl-s"><span class="pl-pds">'</span>user<span class="pl-pds">'</span></span>,
    name<span class="pl-k">:</span><span class="pl-s"><span class="pl-pds">'</span>user<span class="pl-pds">'</span></span>,
    item<span class="pl-k">:</span>Model
  }
]</pre></div>

<p>You can also bypass the current messages that are set for a particular model, making it unique for the same error type</p>

<div class="highlight highlight-js"><pre><span class="pl-c">// fn is Function(Extra: Object|Boolean): Array</span>
<span class="pl-k">var</span> fn <span class="pl-k">=</span> ErrorLookup<span class="pl-c1">.error</span>(<span class="pl-s"><span class="pl-pds">'</span>group<span class="pl-pds">'</span></span>,<span class="pl-s"><span class="pl-pds">'</span>user<span class="pl-pds">'</span></span>,{<span class="pl-s"><span class="pl-pds">'</span>required<span class="pl-pds">'</span></span><span class="pl-k">:</span><span class="pl-s"><span class="pl-pds">'</span>User is sooo required, please fill me in<span class="pl-pds">'</span></span>});
fn({<span class="pl-s"><span class="pl-pds">'</span>required<span class="pl-pds">'</span></span><span class="pl-k">:</span><span class="pl-c1">true</span>});
<span class="pl-c">/* returns */</span>
[
  {
    type<span class="pl-k">:</span><span class="pl-s"><span class="pl-pds">'</span>required<span class="pl-pds">'</span></span>,
    message<span class="pl-k">:</span><span class="pl-s"><span class="pl-pds">'</span>User is sooo required, please fill me in<span class="pl-pds">'</span></span>,
    label<span class="pl-k">:</span><span class="pl-s"><span class="pl-pds">'</span>user<span class="pl-pds">'</span></span>,
    name<span class="pl-k">:</span><span class="pl-s"><span class="pl-pds">'</span>user<span class="pl-pds">'</span></span>,
    item<span class="pl-k">:</span>Model
  }
]</pre></div>

<p>And you can bypass the bypass!</p>

<div class="highlight highlight-js"><pre><span class="pl-c">// fn is Function(Extra: Object|Boolean): Array</span>
<span class="pl-k">var</span> fn <span class="pl-k">=</span> ErrorLookup<span class="pl-c1">.error</span>(<span class="pl-s"><span class="pl-pds">'</span>group<span class="pl-pds">'</span></span>,<span class="pl-s"><span class="pl-pds">'</span>user<span class="pl-pds">'</span></span>,{<span class="pl-s"><span class="pl-pds">'</span>required<span class="pl-pds">'</span></span><span class="pl-k">:</span><span class="pl-s"><span class="pl-pds">'</span>User is sooo required, please fill me in<span class="pl-pds">'</span></span>});
fn({<span class="pl-s"><span class="pl-pds">'</span>required<span class="pl-pds">'</span></span><span class="pl-k">:</span><span class="pl-s"><span class="pl-pds">'</span>w00t<span class="pl-pds">'</span></span>});
<span class="pl-c">/* returns */</span>
[
  {
    type<span class="pl-k">:</span><span class="pl-s"><span class="pl-pds">'</span>required<span class="pl-pds">'</span></span>,
    message<span class="pl-k">:</span><span class="pl-s"><span class="pl-pds">'</span>w00t<span class="pl-pds">'</span></span>,
    label<span class="pl-k">:</span><span class="pl-s"><span class="pl-pds">'</span>user<span class="pl-pds">'</span></span>,
    name<span class="pl-k">:</span><span class="pl-s"><span class="pl-pds">'</span>user<span class="pl-pds">'</span></span>,
    item<span class="pl-k">:</span>Model
  }
]</pre></div>

<h5>
<a id="errorlookuperrorsgroup-string-pick-string-arrays-boolean--false-predefine-object--" class="anchor" href="#errorlookuperrorsgroup-string-pick-string-arrays-boolean--false-predefine-object--" aria-hidden="true"><span class="octicon octicon-link"></span></a><code>ErrorLookup.errors(group: String, pick: string[], arrays: Boolean = false, predefine: Object = {})</code>
</h5>

<p>Returns an object with all the error functions from above. If you define an array in pick, you can retrieve
only some members of the group.</p>

<div class="highlight highlight-js"><pre><span class="pl-k">var</span> errors <span class="pl-k">=</span> ErrorLookup.errors(<span class="pl-s"><span class="pl-pds">'</span>group<span class="pl-pds">'</span></span>,[<span class="pl-s"><span class="pl-pds">'</span>user<span class="pl-pds">'</span></span>,<span class="pl-s"><span class="pl-pds">'</span>email<span class="pl-pds">'</span></span>]); <span class="pl-c">// returns {'user':ErrorGetterFunction,'email':ErrorGetterFunction}</span>
errors.user(); <span class="pl-c">// [{type:'required'...}]</span></pre></div>

<p>setting arrays to true returns the current errors array:</p>

<div class="highlight highlight-js"><pre><span class="pl-k">var</span> errors <span class="pl-k">=</span> ErrorLookup.errors(<span class="pl-s"><span class="pl-pds">'</span>group<span class="pl-pds">'</span></span>, [<span class="pl-s"><span class="pl-pds">'</span>user<span class="pl-pds">'</span></span>,<span class="pl-s"><span class="pl-pds">'</span>email<span class="pl-pds">'</span></span>], <span class="pl-c1">true</span>); <span class="pl-c">// returns {'user':Array,'email':Array}</span>
errors.user; <span class="pl-c">// [{type:'required'...}]</span>
<span class="pl-c">// the ErrorLookup.error() must be called somewhere for this array to be filled</span></pre></div>

<p>You can override the default errors of a group:</p>

<div class="highlight highlight-js"><pre><span class="pl-k">var</span> errors <span class="pl-k">=</span> ErrorLookup.errors(<span class="pl-s"><span class="pl-pds">'</span>group<span class="pl-pds">'</span></span>, [], <span class="pl-c1">false</span>, {<span class="pl-s"><span class="pl-pds">'</span>required<span class="pl-pds">'</span></span><span class="pl-k">:</span><span class="pl-s"><span class="pl-pds">'</span>w00b<span class="pl-pds">'</span></span>}); <span class="pl-c">// returns {'user':ErrorFunction,'email':ErrorFunction,'password':ErrorFunction}</span>
errors.email({required<span class="pl-k">:</span> <span class="pl-c1">true</span>}); <span class="pl-c">// [{type:'required','message':'w00b'}]</span>
errors.password({required<span class="pl-k">:</span> <span class="pl-c1">true</span>}); <span class="pl-c">// [{type:'required','message':'w00b'}]</span></pre></div>

<h5>
<a id="errorlookupremovegroup-string-name-string" class="anchor" href="#errorlookupremovegroup-string-name-string" aria-hidden="true"><span class="octicon octicon-link"></span></a><code>ErrorLookup.remove(group: String, name: String)</code>
</h5>

<p>Remove the model from the errors pile</p>

<div class="highlight highlight-js"><pre>ErrorLookup.remove(scope.$id, <span class="pl-s"><span class="pl-pds">'</span>user<span class="pl-pds">'</span></span>);</pre></div>

<h5>
<a id="errorlookupaddconfig-object" class="anchor" href="#errorlookupaddconfig-object" aria-hidden="true"><span class="octicon octicon-link"></span></a><code>ErrorLookup.add(config: Object)</code>
</h5>

<p>This method is boring as hell. Long parameter list and you shouldn't need to call it manually if you use the
directives. You need to always provide non-optional stuff everytime to the function or it breaks.</p>

<p>The config object is as following:</p>

<ul>
<li>
<code>config.scope</code> : the scope. [Not Optional]</li>
<li>
<code>config.name</code>  : the name of the ng-model, or any internal name you want to use. it must exist in the given scope [Not Optional]</li>
<li>
<code>config.model</code> : the model itself ngModelController (or ngFormController if you add a form model to it) [Not Optional]</li>
<li>
<code>config.attrs</code> : the $attrs of the element, you can pass an object too when not adding from inside a directive</li>
<li>
<code>config.group</code> : the group name, fallbacks to using <code>scope.$id</code>
</li>
<li>
<code>config.label</code> : the label to give the error. Defaults to the name of the model. pretty name for your <code>login.data.user</code> as <code>Your username</code> for example</li>
<li>
<code>config.el</code>    : assign a DOM element to the current model</li>
</ul>

<div class="highlight highlight-js"><pre><span class="pl-c">/* ... */</span>
.directive(<span class="pl-s"><span class="pl-pds">'</span>blah<span class="pl-pds">'</span></span>, [<span class="pl-s"><span class="pl-pds">'</span>ErrorLookup<span class="pl-pds">'</span></span>, <span class="pl-k">function</span>(<span class="pl-smi">ErrorLookup</span>){
  <span class="pl-k">return</span> {
    require<span class="pl-k">:</span><span class="pl-s"><span class="pl-pds">'</span>ngModel<span class="pl-pds">'</span></span>,
    <span class="pl-en">link</span><span class="pl-k">:</span> <span class="pl-k">function</span>(<span class="pl-smi">$scope</span>, <span class="pl-smi">el</span>, <span class="pl-smi">attr</span>, <span class="pl-smi">ctrl</span>){

      ErrorLookup.<span class="pl-c1">add</span>({
        scope<span class="pl-k">:</span> $scope,
        name <span class="pl-k">:</span> attr.ngModel,
        model<span class="pl-k">:</span> ctrl,
        el   <span class="pl-k">:</span> el
      });
    }
  }
}]);</pre></div>

<h5>
<a id="errorlookupmessages" class="anchor" href="#errorlookupmessages" aria-hidden="true"><span class="octicon octicon-link"></span></a><code>ErrorLookup.messages</code>
</h5>

<p>Keeps your application wide messages in a repository</p>

<h5>
<a id="errorlookupmessagesaddname-string-expr-stringfunction-trustedcontext-string" class="anchor" href="#errorlookupmessagesaddname-string-expr-stringfunction-trustedcontext-string" aria-hidden="true"><span class="octicon octicon-link"></span></a><code>ErrorLookup.messages.add(name: String, expr: String|Function, trustedContext: String)</code>
</h5>

<p>Adds a message. Accepts a function (callback!) or a interpolated string. If you set <code>trustedContext</code> to 'html'
it will use the <code>$sce</code> service and accept safe HTML in your interpolated string.</p>

<div class="highlight highlight-js"><pre>ErrorLookup.messages.<span class="pl-c1">add</span>(<span class="pl-s"><span class="pl-pds">'</span>required<span class="pl-pds">'</span></span>, <span class="pl-s"><span class="pl-pds">'</span>&lt;span class="well"&gt;You need to fill this field&lt;/span&gt;<span class="pl-pds">'</span></span>, <span class="pl-s"><span class="pl-pds">'</span>html<span class="pl-pds">'</span></span>);</pre></div>

<p>Returns the current <code>$interpolate</code>d string or the function you passed, you can call it right way.</p>

<h5>
<a id="errorlookupmessagesremovename-string" class="anchor" href="#errorlookupmessagesremovename-string" aria-hidden="true"><span class="octicon octicon-link"></span></a><code>ErrorLookup.messages.remove(name: String)</code>
</h5>

<p>Remove a message from the service</p>

<div class="highlight highlight-js"><pre>ErrorLookup.messages.remove(<span class="pl-s"><span class="pl-pds">'</span>required<span class="pl-pds">'</span></span>); <span class="pl-c">// all "required" error messages, will be silently skipped when this error is present on ngModel =(</span></pre></div>

<h5>
<a id="errorlookupmessagesincludeurl-string" class="anchor" href="#errorlookupmessagesincludeurl-string" aria-hidden="true"><span class="octicon octicon-link"></span></a><code>ErrorLookup.messages.include(url: String)</code>
</h5>

<p>Loads a JSON representation of your messages.
Returns a promise. If you modify the resulting value, you can modify the included messages</p>

<div class="highlight highlight-js"><pre>ErrorLookup.messages.include(<span class="pl-s"><span class="pl-pds">'</span>/messages.json<span class="pl-pds">'</span></span>).then(<span class="pl-k">function</span>(<span class="pl-smi">messages</span>){
  <span class="pl-k">delete</span> messages[<span class="pl-s"><span class="pl-pds">'</span>required<span class="pl-pds">'</span></span>];
});</pre></div>

<h3>
<a id="directives" class="anchor" href="#directives" aria-hidden="true"><span class="octicon octicon-link"></span></a>Directives</h3>

<h4>
<a id="error-lookup" class="anchor" href="#error-lookup" aria-hidden="true"><span class="octicon octicon-link"></span></a><code>error-lookup</code>
</h4>

<p>The <code>error-lookup</code> directive will add any <code>ng-model</code> element to the bunch.</p>

<p>By default, <code>error-lookup</code> group elements by <code>scope.$parent.$id</code>, but you can set your
own name using <code>error-lookup="othergroup"</code> (it's preferable this way, so you can reuse in
your code and set errors from inside services and other directives)</p>

<p>The name of the model will be your <code>error-lookup-name</code>, then <code>name</code> attribute, then your <code>ng-model</code>,
in this order.</p>

<p><code>error-lookup-label</code> can apply a nice name to your model, like <code>error-lookup-label="Your email"</code>.</p>

<div class="highlight highlight-html"><pre><span class="pl-c">&lt;!-- add this ngModel to our ErrorLookup service --&gt;</span>
&lt;<span class="pl-ent">input</span>
  <span class="pl-e">ng-model</span>=<span class="pl-s"><span class="pl-pds">"</span>model.email<span class="pl-pds">"</span></span>
  <span class="pl-e">error-lookup-label</span>=<span class="pl-s"><span class="pl-pds">"</span>your email<span class="pl-pds">"</span></span>
  <span class="pl-e">error-lookup</span>=<span class="pl-s"><span class="pl-pds">"</span>login.interface<span class="pl-pds">"</span></span>
  <span class="pl-e">error-lookup-name</span>=<span class="pl-s"><span class="pl-pds">"</span>email<span class="pl-pds">"</span></span>
  <span class="pl-e">type</span>=<span class="pl-s"><span class="pl-pds">"</span>email<span class="pl-pds">"</span></span>
  <span class="pl-e">required</span>
  &gt;

<span class="pl-c">&lt;!-- error-lookup-label changes the $label variable --&gt;</span>
<span class="pl-c">&lt;!-- error-lookup-name overrides your ng-model --&gt;</span>

<span class="pl-c">&lt;!-- You can, inside your controller, now use</span>
<span class="pl-c">     ErrorLookup.get('login.interface','email'), and</span>
<span class="pl-c">     even have access to this element lol, breaking</span>
<span class="pl-c">     conventions since 2014</span>
<span class="pl-c">     --&gt;</span>

<span class="pl-c">&lt;!-- Display some nasty errors to the user, only from</span>
<span class="pl-c">     login.interface and email model --&gt;</span>

&lt;<span class="pl-ent">ol</span> <span class="pl-e">error-lookup-display</span>=<span class="pl-s"><span class="pl-pds">"</span>email<span class="pl-pds">"</span></span> <span class="pl-e">error-lookup-group</span>=<span class="pl-s"><span class="pl-pds">"</span>login.interface<span class="pl-pds">"</span></span>&gt;
  &lt;<span class="pl-ent">li</span>&gt;{{ $latest.message }}&lt;/<span class="pl-ent">li</span>&gt; <span class="pl-c">&lt;!-- only the latest error in the stack --&gt;</span>
  &lt;<span class="pl-ent">li</span>&gt;{{ $first.message }}&lt;/<span class="pl-ent">li</span>&gt; <span class="pl-c">&lt;!-- only the latest error in the stack --&gt;</span>
  &lt;<span class="pl-ent">li</span> <span class="pl-e">ng-bind-html</span>=<span class="pl-s"><span class="pl-pds">"</span>$firstHtml<span class="pl-pds">"</span></span>&gt;&lt;/<span class="pl-ent">li</span>&gt; <span class="pl-c">&lt;!-- only the latest error in the stack --&gt;</span>
  &lt;<span class="pl-ent">li</span> <span class="pl-e">ng-bind-html</span>=<span class="pl-s"><span class="pl-pds">"</span>$latestHtml<span class="pl-pds">"</span></span>&gt;&lt;/<span class="pl-ent">li</span>&gt; <span class="pl-c">&lt;!-- only the latest error in the stack --&gt;</span>
  &lt;<span class="pl-ent">li</span> <span class="pl-e">ng-repeat</span>=<span class="pl-s"><span class="pl-pds">"</span>error in $errors track by $index<span class="pl-pds">"</span></span>&gt;{{error.message}}&lt;/<span class="pl-ent">li</span>&gt; <span class="pl-c">&lt;!-- or show ALL the errors --&gt;</span>
  <span class="pl-c">&lt;!-- you can even make your shit clickable --&gt;</span>
  &lt;<span class="pl-ent">li</span> <span class="pl-e">ng-repeat</span>=<span class="pl-s"><span class="pl-pds">"</span>error in $errors track by $index<span class="pl-pds">"</span></span> <span class="pl-e">ng-click</span>=<span class="pl-s"><span class="pl-pds">"</span>myWorldController.click(error)<span class="pl-pds">"</span></span> <span class="pl-e">ng-bind-html</span>=<span class="pl-s"><span class="pl-pds">"</span>error.message<span class="pl-pds">"</span></span>&gt;&lt;/<span class="pl-ent">li</span>&gt;
  &lt;<span class="pl-ent">li</span>&gt;Shit! {{ $errorCount }} errors!&lt;/<span class="pl-ent">li</span>&gt;
&lt;/<span class="pl-ent">ol</span>&gt;</pre></div>

<h4>
<a id="error-lookup-form" class="anchor" href="#error-lookup-form" aria-hidden="true"><span class="octicon octicon-link"></span></a><code>error-lookup-form</code>
</h4>

<p>This one is for forms, they keep all their children in sync (long missing from angular itself).</p>

<div class="highlight highlight-html"><pre><span class="pl-c">&lt;!-- you can put it on forms, you can display errors for your form as a whole --&gt;</span>
&lt;<span class="pl-ent">form</span> <span class="pl-e">error-lookup-form</span>=<span class="pl-s"><span class="pl-pds">"</span>group<span class="pl-pds">"</span></span> <span class="pl-e">name</span>=<span class="pl-s"><span class="pl-pds">"</span>fuck<span class="pl-pds">"</span></span>&gt;
  &lt;<span class="pl-ent">input</span> <span class="pl-e">ng-model</span>=<span class="pl-s"><span class="pl-pds">"</span>doh<span class="pl-pds">"</span></span> <span class="pl-e">error-lookup</span>=<span class="pl-s"><span class="pl-pds">"</span>another-group<span class="pl-pds">"</span></span>&gt;
  &lt;<span class="pl-ent">input</span> <span class="pl-e">ng-model</span>=<span class="pl-s"><span class="pl-pds">"</span>srsly<span class="pl-pds">"</span></span> <span class="pl-e">error-lookup</span>=<span class="pl-s"><span class="pl-pds">"</span>another-group<span class="pl-pds">"</span></span>&gt;
  &lt;<span class="pl-ent">input</span> <span class="pl-e">ng-model</span>=<span class="pl-s"><span class="pl-pds">"</span>input<span class="pl-pds">"</span></span> <span class="pl-e">error-lookup</span>=<span class="pl-s"><span class="pl-pds">"</span>another-group<span class="pl-pds">"</span></span>&gt;
  &lt;<span class="pl-ent">div</span>
      <span class="pl-e">error-lookup-group</span>=<span class="pl-s"><span class="pl-pds">"</span>group<span class="pl-pds">"</span></span>
      <span class="pl-e">error-lookup-display</span>=<span class="pl-s"><span class="pl-pds">"</span>fuck<span class="pl-pds">"</span></span>
      <span class="pl-e">error-lookup-template</span>=<span class="pl-s"><span class="pl-pds">"</span>{filter:['form','only','errors'],exclude:['required']}<span class="pl-pds">"</span></span>
      &gt;&lt;/<span class="pl-ent">div</span>&gt;
  <span class="pl-c">&lt;!-- show all errors for all form models on one place --&gt;</span>
&lt;/<span class="pl-ent">form</span>&gt;</pre></div>

<h4>
<a id="error-lookup-display" class="anchor" href="#error-lookup-display" aria-hidden="true"><span class="octicon octicon-link"></span></a><code>error-lookup-display</code>
</h4>

<p>The <code>error-lookup-display</code> is a shortcut to the <code>ErrorLookup.error()</code> function.</p>

<p>This directive exposes to the DOM the following scope variables:</p>

<h5>
<a id="model-ierrorhelper" class="anchor" href="#model-ierrorhelper" aria-hidden="true"><span class="octicon octicon-link"></span></a><code>$model: IErrorHelper;</code>
</h5>

<p>The ErrorLookup model</p>

<h5>
<a id="errorcount-number" class="anchor" href="#errorcount-number" aria-hidden="true"><span class="octicon octicon-link"></span></a><code>$errorCount: number;</code>
</h5>

<p>Current error count</p>

<h5>
<a id="first-ierrormessage" class="anchor" href="#first-ierrormessage" aria-hidden="true"><span class="octicon octicon-link"></span></a><code>$first: IErrorMessage;</code>
</h5>

<p>Is first error for that field, containing the fields described in
<a href="#errorlookuperrorgroup-string-name-string-predefine-object">ErrorLookup.error()</a></p>

<h5>
<a id="latest-ierrormessage" class="anchor" href="#latest-ierrormessage" aria-hidden="true"><span class="octicon octicon-link"></span></a><code>$latest: IErrorMessage;</code>
</h5>

<p>Is the top most error for that field, containing the fields described in
<a href="#errorlookuperrorgroup-string-name-string-predefine-object">ErrorLookup.error()</a></p>

<h5>
<a id="errors-any" class="anchor" href="#errors-any" aria-hidden="true"><span class="octicon octicon-link"></span></a><code>$errors: any[];</code>
</h5>

<p>Current cached array of errors</p>

<h5>
<a id="haschanged-boolean" class="anchor" href="#haschanged-boolean" aria-hidden="true"><span class="octicon octicon-link"></span></a><code>$hasChanged(): boolean;</code>
</h5>

<p>If the field has errors AND is <code>$dirty</code> AND has been <code>$touched</code></p>

<p>N.B: Since the scope isn't isolated, but a child scope, it inherits from the current scope it's in,
make sure to understand scope inheritance before you try your hax0rs in the code.</p>

<h5>
<a id="latesthtml-angulariaugmentedjquery" class="anchor" href="#latesthtml-angulariaugmentedjquery" aria-hidden="true"><span class="octicon octicon-link"></span></a><code>$latestHtml: angular.IAugmentedJQuery;</code>
</h5>

<p>The <code>$sce.trustAsHtml</code> version of <code>$latest</code></p>

<h5>
<a id="firsthtml-angulariaugmentedjquery" class="anchor" href="#firsthtml-angulariaugmentedjquery" aria-hidden="true"><span class="octicon octicon-link"></span></a><code>$firstHtml: angular.IAugmentedJQuery;</code>
</h5>

<p>The <code>$sce.trustAsHtml</code> version of <code>$first</code></p>

<h4>
<a id="error-lookup-template" class="anchor" href="#error-lookup-template" aria-hidden="true"><span class="octicon octicon-link"></span></a><code>error-lookup-template</code>
</h4>

<p>This directive creates a <code>ul</code> with a default limit of 1 item for errors.
It needs to be applied in the same element that has <code>error-lookup-display</code> on it.</p>

<div class="highlight highlight-html"><pre>&lt;<span class="pl-ent">div</span>
    <span class="pl-e">error-lookup-display</span>=<span class="pl-s"><span class="pl-pds">"</span>models.email<span class="pl-pds">"</span></span>
    <span class="pl-e">error-lookup-template</span>=<span class="pl-s"><span class="pl-pds">"</span>{filter: ['generic','someothererror', $variable], 'exclude':['required'], limit: 10}<span class="pl-pds">"</span></span>
    &gt;
  <span class="pl-c">&lt;!-- setting `filter` will only show `generic`, 'someothererror' and something assigned to the scope $variable,</span>
<span class="pl-c">      error messages --&gt;</span>
  <span class="pl-c">&lt;!-- setting `limit` will limit the number of messages displayed at once --&gt;</span>
  <span class="pl-c">&lt;!-- setting `exclude` won't show errors --&gt;</span>
  <span class="pl-c">&lt;!-- all options are optional, they default to none and 1 respectively --&gt;</span>
&lt;/<span class="pl-ent">div</span>&gt;</pre></div>

<h3>
<a id="filter" class="anchor" href="#filter" aria-hidden="true"><span class="octicon octicon-link"></span></a>Filter</h3>

<p>It's used to filter error messages from a bunch of items in an array,
used by the <code>error-lookup-template</code> directive:</p>

<div class="highlight highlight-html"><pre>&lt;<span class="pl-ent">div</span> <span class="pl-e">error-lookup-display</span>=<span class="pl-s"><span class="pl-pds">"</span>name<span class="pl-pds">"</span></span>&gt;
  &lt;<span class="pl-ent">div</span> <span class="pl-e">ng-repeat</span>=<span class="pl-s"><span class="pl-pds">"</span>error in $errors | errorMessages:$options<span class="pl-pds">"</span></span>&gt;{{ error }}&lt;/<span class="pl-ent">div</span>&gt;
&lt;/<span class="pl-ent">div</span>&gt;</pre></div>

      <footer class="site-footer">
        <span class="site-footer-owner"><a href="https://github.com/pocesar/angular-errorlookup">Angular-errorlookup</a> is maintained by <a href="https://github.com/pocesar">pocesar</a>.</span>

        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the <a href="https://github.com/jasonlong/cayman-theme">Cayman theme</a> by <a href="https://twitter.com/jasonlong">Jason Long</a>.</span>
      </footer>

    </section>

  
  </body>
</html>
