<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />

    <title>Angular-errorlookup by pocesar</title>
  </head>

  <body>

    <header>
      <div class="container">
        <h1>Angular-errorlookup</h1>
        <h2>Because AngularJS general error messages still suck. ngMessages can kiss my ass.</h2>

        <section id="downloads">
          <a href="https://github.com/pocesar/angular-errorlookup/zipball/master" class="btn">Download as .zip</a>
          <a href="https://github.com/pocesar/angular-errorlookup/tarball/master" class="btn">Download as .tar.gz</a>
          <a href="https://github.com/pocesar/angular-errorlookup" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        <h1>
<a name="angularjs-errorlookup" class="anchor" href="#angularjs-errorlookup"><span class="octicon octicon-link"></span></a>AngularJS ErrorLookup</h1>

<p>Because AngularJS general error messages still suck. ngMessages can kiss my ass. TL;DR <a href="http://pocesar.github.io/angular-errorlookup">http://pocesar.github.io/angular-errorlookup</a></p>

<h2>
<a name="motivation" class="anchor" href="#motivation"><span class="octicon octicon-link"></span></a>Motivation</h2>

<p>How is it better than <code>ngMessage</code> / <code>ngMessages</code>? Or plain old <code>ng-switch-when</code> / <code>ng-if</code> directive and a bunch of divs?</p>

<p>Because you need to write the same boring HTML markup over and over, and you need to cluttering your scope and controllers with useless state error messages. Plus, you are usually stuck with <code>modelController.$error</code> / <code>myForm.myModel.$error.required</code> / <code>myForm.$error.require[0].$error</code> (srsly wtf) boolean states.</p>

<p>This module aims to provide a D.R.Y. interface for your errors, and.... are you ready for it? </p>

<p>Interpolation! Make your errors beautiful. No more useless boring generic messages like "Please fill this field". </p>

<h2>
<a name="usage" class="anchor" href="#usage"><span class="octicon octicon-link"></span></a>Usage</h2>

<h4>
<a name="service" class="anchor" href="#service"><span class="octicon octicon-link"></span></a>Service</h4>

<p>The <code>ErrorLookup</code> service that holds all messages and instances, models and attributes from your elements so it can be the ultimate overlord of your errors (and messages, but mostly errors).</p>

<div class="highlight highlight-js"><pre><span class="nx">angular</span><span class="p">.</span><span class="nx">module</span><span class="p">(</span><span class="s1">'YourApp'</span><span class="p">,</span> <span class="p">[</span><span class="s1">'ngErrorLookup'</span><span class="p">]).</span><span class="nx">controller</span><span class="p">(</span><span class="s1">'MainCtrl'</span><span class="p">,</span> 
  <span class="p">[</span><span class="s1">'$scope'</span><span class="p">,</span> <span class="s1">'ErrorLookup'</span><span class="p">,</span> 
  <span class="kd">function</span><span class="p">(</span><span class="nx">$scope</span><span class="p">,</span> <span class="nx">ErrorLookup</span><span class="p">){</span>
    <span class="nx">ErrorLookup</span><span class="p">.</span><span class="nx">messages</span><span class="p">.</span><span class="nx">types</span><span class="p">.</span><span class="nx">email</span><span class="p">({</span><span class="nx">value</span><span class="o">:</span> <span class="s1">'name'</span><span class="p">});</span> <span class="c1">// name is not a valid email</span>
    <span class="c1">// Everything in types are a function from "$interpolate"</span>
    <span class="c1">// You can overwrite them by using:</span>
    <span class="nx">ErrorLookup</span><span class="p">.</span><span class="nx">messages</span><span class="p">.</span><span class="nx">add</span><span class="p">(</span><span class="s1">'email'</span><span class="p">,</span> <span class="s1">'O email {{value}} não é válido'</span><span class="p">);</span>
    <span class="nx">ErrorLookup</span><span class="p">.</span><span class="nx">messages</span><span class="p">.</span><span class="nx">types</span><span class="p">.</span><span class="nx">email</span><span class="p">({</span><span class="nx">value</span><span class="o">:</span> <span class="s1">'name'</span><span class="p">});</span> <span class="c1">// O email name não é válido</span>
  <span class="p">}</span>
<span class="p">]);</span>
</pre></div>

<p>But that's only for adding and manually setting error messages, which isn't useful for us, at all.</p>

<h4>
<a name="directive" class="anchor" href="#directive"><span class="octicon octicon-link"></span></a>Directive</h4>

<p>The <code>error-lookup</code> directive will add any <code>ng-model</code> or <code>ng-form</code> element to the bunch. By default, <code>error-lookup</code> group elements by scope, but you can set your own name using <code>error-lookup="mygroup"</code></p>

<p>The <code>error-display</code> is a shortcut to the <code>ErrorLookup.error()</code> function. By default, the <code>error-display</code> must be in the same scope as the <code>error-lookup</code> directive, or it won't know where to look for errors. To specify another scope you need to pass another helper directive <code>error-scope="nameofscope"</code>, that can be an expression or a plain string. </p>

<div class="highlight highlight-html"><pre><span class="c">&lt;!-- add this element to our ErrorLookup service --&gt;</span>
<span class="nt">&lt;input</span> <span class="na">ng-model=</span><span class="s">"some.huge.ass.model.name"</span> <span class="na">error-lookup=</span><span class="s">"errorgroup1"</span><span class="nt">&gt;</span> 
<span class="c">&lt;!-- Display some nasty errors to the user --&gt;</span>
<span class="nt">&lt;ol</span> <span class="na">error-display=</span><span class="s">"some.huge.ass.model.name"</span> <span class="na">error-scope=</span><span class="s">"errorgroup1"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;li&gt;</span>{{ latest }}<span class="nt">&lt;/li&gt;</span>
  <span class="nt">&lt;li</span> <span class="na">ng-repeat=</span><span class="s">"error in errors"</span><span class="nt">&gt;</span>{{error}}<span class="nt">&lt;/li&gt;</span>
<span class="nt">&lt;/ol&gt;</span>
</pre></div>

<p>The <code>error-display</code> directive has 2 scope variables: </p>

<ul>
<li>
<code>latest</code>: that is the top most error for that field </li>
<li>
<code>errors</code>: that is an array of all errors on the current model / form</li>
</ul>
      </section>
    </div>

    
  </body>
</html>